<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let student of students; let i = index"
        [class.selected]="student === selectedStudent"
        (click)="onSelect(student)">
        <a style="cursor: pointer">{{i+1}} {{student}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box box-primary" *ngIf="selectedStudent">
            <div class="box-body box-profile">
              <h3 class="profile-username text-center">{{studentDetail.name}}</h3>

              <p class="text-muted text-center">{{studentDetail.designation}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  {{studentDetail.address}}
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.box-body -->
          </div>
  </div>
</div>
